extends layout

block content
        // Box 1: Form for Enter
        .box
            h1 View Student Details
            form(id="enterForm", method="get")
                p 
                    .form-group
                        label(for="dropdownSelect") Select:            
                        select(name='dropDown' id='dropdownSelect')
                        
                            each item in items
                                option(value=item.id)= item.id + ' ' + item.name

                        buttons

                                button(type='button' onclick="setFormAction('enter')") Enter

        // Box 2: Form for adding a new user
        .box
            h1 Add User
            form(action="/api/user" method="post")
                p
                .form-group
                    label(for="name") Name:
                    input(type='text' name='name' placeholder='Name' required)
                .form-group
                    label(for="age") Age:
                    input(type='text' name='age' placeholder='Age' required)

                .viewButtons
                    buttons
                        input(type='submit' value='Add')

        script.
            function setFormAction(action) {
                var userId = document.getElementById('dropdownSelect').value;
                switch(action) {
                    case 'enter':
                        window.location.href = '/user/' + userId;
                        break;
                }
            }