doctype html
html
    head
        title Web Page from Pug
        link(rel="stylesheet" href="/style.css") 
        
    body
        main
            block content
                // Your content here

        hr
        footer
            p Copyright &copy;2022

